[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.14.2
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = https://github.com/qt/qtsvg.git
	branch = 5.14.2
	status = addon
[submodule "qtscript"]
	depends = qtbase
	recommends = qttools
	path = qtscript
	url = https://github.com/qt/qtscript.git
	branch = 5.14.2
	status = deprecated
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt
	path = qttools
	url = https://github.com/qt/qttools.git
	branch = 5.14.2
	status = essential
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = https://github.com/qt/qttranslations.git
	branch = 5.14.2
	status = essential
	priority = 30
[submodule "qtdoc"]
	depends = qtdeclarative qttools
	recommends = qtmultimedia qtquickcontrols qtquickcontrols2
	path = qtdoc
	url = https://github.com/qt/qtdoc.git
	branch = 5.14.2
	status = essential
	priority = 40
[submodule "qtrepotools"]
	path = qtrepotools
	url = https://github.com/qt/qtrepotools.git
	branch = master
	status = essential
	project = -
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = https://github.com/qt/qtimageformats.git
	branch = 5.14.2
	status = addon
[submodule "qtwebsockets"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwebsockets
	url = https://github.com/qt/qtwebsockets.git
	branch = 5.14.2
	status = addon
[submodule "qtcharts"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtcharts
	url = https://github.com/qt/qtcharts.git
	branch = 5.14.2
	status = addon
[submodule "qtvirtualkeyboard"]
	depends = qtbase qtdeclarative qtsvg
	recommends = qtmultimedia qtquickcontrols
	path = qtvirtualkeyboard
	url = https://github.com/qt/qtvirtualkeyboard.git
	branch = 5.14.2
	status = addon
[submodule "qtscxml"]
	depends = qtbase qtdeclarative
	path = qtscxml
	url = https://github.com/qt/qtscxml.git
	branch = 5.14.2
	status = addon
[submodule "qtremoteobjects"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtremoteobjects
	url = https://github.com/qt/qtremoteobjects.git
	branch = 5.14.2
	status = addon
